html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

/* <nav> */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    max-width: 100vw;
    position: fixed;
}

.navleft{
    height: inherit;
    background-color: #c5c6c35d;
    border-bottom-right-radius: 10px;
}
.navleft img{
    height: inherit;
    width: auto;
}

.navmid{
    display: grid;
    align-items: stretch;
    align-self: stretch;
    width: 100vw;
    font-size: 1rem;
    margin: 0;
    grid-gap: 10px;
    font-weight: 500;
    font-variant: petite-caps;
}
    .navtop{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #df9952e8;
        border-radius: 150px 100px 150px 100px;
        overflow-wrap: normal;
    }
        .navmid .navtop a{
            color: rgb(59, 63, 56);
            display: block;
            font-size: 1.2rem;
            text-decoration-thickness: 1.5px;
        }
        .navmid .navtop a:hover{
            text-decoration-thickness: 2px;
        }
    .navbot{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
    }
        .navmid .navbot a{
            color: rgb(4, 116, 161);
            text-decoration-line: none;
            font-size: 1.2rem;
            padding: 0.5rem 3.5rem;
            border-radius: 1rem;
            font-weight: bold;
        }
            .navmid .navbot a:hover{
                background-color: #c3c5c68f;
            }

.navright{
    display: flex;
    align-items: center;
    justify-items: center;
    height: inherit;
    max-width: auto;
}
    .navright a{
        font-size: 1.2rem;
        text-decoration-line: none;
        padding: 1rem 2rem;
        border-radius: 2rem;
        color: black;
    }
        .navright a:hover{
            background-color: #c3c5c6a2;
        }

        
/* </nav> */

/* <corpo> */
.produto{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    z-index: -1 ;
    flex-wrap: wrap;
}
.produto .top{
    position: relative;
    top: 24vh;
    max-height: 50vh ;
    max-width: 60%;
}
.produto .top h1{
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 40px;
    line-height: 48px;
}
.produto .top h3{
    margin-top: -2rem;
    text-align: center;
}
.produto .top h3 a{
    color: rgb(97, 97, 97);
    text-decoration-thickness: 0.5px;
    padding: 1px;
}
.produto .bottom{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
    min-width: 250px;
    width: 800;
    margin-bottom: 1.5rem;
}
.produto .bottom button{
    font-size: 30px;
    width: 400px;
    height: 50px;
    justify-content: space-around;
    border: none;
    border-radius: 20px;
    background-color: rgb(165, 106, 67);
    color: rgb(211, 210, 210);
    margin: 0 2rem;
}

#arte{
    position: relative;
    background-image: url("./images/2.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    
}

#brincar{
    position: relative;
    background-image: url("./images/peepingcat.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}



@media only screen and (max-width: 1600px){
    nav .navmid{
        background-color: #df9952e8;
        border-radius: 7.5vh;
    }
    nav .navmid .navtop{
        background-color: rgba(255, 255, 255, 0);
    }
}
 
@media only screen and (max-width: 1000px){
    nav .navmid{
        background-color: rgba(255, 255, 255, 0);
    }
    nav .navmid .navbot{
        display: none;
    }
    nav .navright a{
        background-color: #df9952e8;
        padding: 0.5rem 1rem;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 10px;
    }
    nav .navmid .navtop{
        margin-top: 2.5vh;
        height: 7.5vh;
        background-color: #df9952e8;
    }
    .produto .bottom{
        display: grid;
        min-height: 50px;
        min-width: 250px;
        margin-bottom: 1.5rem;
        width: 100%;
    }
    .produto .bottom button{
        width: 80%;
        margin: 0 auto 0 auto;
        margin-top: 1rem;
    }
    
}  
